.button {
  background-color: grey;
  border: none;
  font-size: 28px;
  color: white;
  padding: 20px;
  width: 400px;
  text-align: center;
  margin: 10px 0 10px 0;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: top;
  overflow: auto;
  align-items: center;
  top: 0px;
  flex-direction: column;
  left: 0px;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  display: flex;
  flex-direction: column;
}

#comments{
  position:absolute;
  flex-direction: column;
  width: 20rem;
  height: 100%;
  right: 0px;
  top: 0px;
  padding: 2rem;
  transition: all .7s;
  margin-right: 0px;
  background-color: grey;
}

.inline{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.closed{
  margin-right: -30rem !important;
  transition: all .7s !important;
}

.closed>#closeDiv{
  position: absolute;
  margin-left: -9rem !important;
  transition: all 1.7s;
}

#closeDiv{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2rem;
  height: 2rem;
  margin-left: 10px;
  font-size: 2.5rem;
  font-family: "Comic Sans MS";
  font-weight: bold;

}

.comment{
  padding: .1rem;
  border: .1rem solid black;
  margin: .5rem;
  background-color: white;
}

.comment > h1{
  size: 1rem;
  font-family: "Italica MS";
}

#commentIn{
  display: flex;
  align-items: center;
}

#banner{
  width: 100%;
}
